.agenda {
  padding: 65px 65px 0 65px;

  @media(max-width: 500px) {
    padding: 40px 40px 0 40px;
  }

  @media(max-width:400px) {
    padding: 25px 25px 0 25px;

    .agenda_container div h2 {
      text-align: center;
      font-size: 25px;
    }

    .agenda_container p {
      text-align: center;
    }

    .agenda-bloco h3 {
      font-size: 16px;
    }

    .agenda-flex {
      font-size: 12px;
    }
  }

  &_container {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    gap: 3.75em;

    @media (max-width: 1100px) {
      max-width: 100%;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 0;

      .agenda_container_imagens {
        display: none;
      }
    }

    h2 {
      text-align: center;
      @include titulo($cor8, $cor9)
    }

    p {
      text-align: center;
      font-family: "Roboto";
      color: #666;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 3em;
    }
  }

  .btn-ibcidade:hover {
    text-decoration: none;
    color: #000;
    font-family: "Roboto";
    font-weight: 500;

    background: linear-gradient($cor10, $cor10) padding-box, linear-gradient(45deg, $cor4, $cor5) border-box;
    border: 2.5px solid transparent;
    border-radius: 10px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    gap: 5px;

  }

  .agenda_container .agenda-bloco {
    font-family: "Roboto";
    color: #666;
    padding: 0.93754em 0;
    margin-bottom: 1.875em;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, $cor8, $cor9) border-box;
    border-bottom: 3.5px solid transparent;

    .agenda-flex {
      font-size: 18px;
      margin-top: 1.25em;
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      row-gap: 0.9375em;
      align-items: center;
    }

    .domingo {
      padding-bottom: 0.625em;
      border-bottom: 2px solid $cor10;
    }
  }

  .agenda_container .agenda-bloco.sem-borda {
    background: none;
  }

}


/* TAMANHOS VARIADOS DAS SUBMARCAS */

.agenda-bloco a .icone-instagram {
  width: .9375em;
}

.agenda-flex a {
  text-decoration: none;
  color: $cor1;
}