.app {
  background-color: $cor10;
  padding: 4.0625em;

  &_container {
    @include container;

    @media (max-width: 1100px) {
      max-width: 800px;
    }

    @media (max-width: 900px) {
      max-width: 100%;
      .app_container_info h2{
        font-size: 25px;
      }
    }

    @media (max-width: 850px){
      max-width: 100%;
      margin: auto;
      grid-template-columns: 100%;
      gap: 40px;
      justify-content: center;

      .app_container_info{
        gap: 20px;
      }
      .app-video{
        justify-self: center;
      }
    }

    .video-app {
      box-shadow: 0px 0px 0px 10px $cor10;
      border-radius: 15px;
    }

    &_info {
      display: flex;
      flex-direction: column;
      place-items: start;
      justify-self: center;
      justify-content: space-between;
      width: 22.5em;
      padding: 0px 1.25em 0 .625em;

      h2 {
        @include titulo($cor4, $cor5)
      }

      p {
        font-family: "Roboto";
        color: #666;
        font-size: 0.9375em;
      }


      .btn-app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.625em;

        .btn-app-store,
        .btn-google-store {
          text-decoration: none;
          color: #000;
          font-family: "Roboto";
          font-weight: 500;

          background: linear-gradient($cor10, $cor10) padding-box, linear-gradient(45deg, $cor4, $cor5) border-box;
          border: 2.5px solid transparent;
          border-radius: 10px;
          padding: 3px 8px;
          display: flex;
          align-items: center;
          gap: 5px;

          .logo-apple {
            font-size: 2.1875em;
            color: #000;
          }
        }
      }
    }
  }
}