.footer {
  padding: 80px;
  background-image: linear-gradient(to right, $cor3, $cor2);

  &_container {
    font-size: 20px;
    font-family: "Roboto";
    color: #fff;
    width: 55em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    align-items: center;

    @media (max-width: 1200px) {
      margin: auto;
      max-width: 100%;
    }

    img {
      width: 200px;
    }

    @media (max-width:850px) {
      // padding: 10px;
      grid-template-columns: 1fr;
      gap: 40px;
      justify-items: center;
      font-size: 16px;
      text-align: center;

      .footer_icones {
        justify-self: center;
      }
    }
  }


  &_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  &_icones {
    justify-self: end;
    font-size: 50px;
  }
}

.marca {
  text-align: center;
  font-family: "Roboto";
  padding: 16px;
  background-color: $cor1;
  color: $cor10;
  font-size: 10px;
}