.img-controle1{
  background: top / contain no-repeat url("../images/banners/serie.jpg");
}
.img-controle2{

  background: top / contain no-repeat url("../images/banners/cr.jpg");
}
.img-controle3{

  background: top / contain  no-repeat url("../images/banners/culto-jovem.jpg");
}
.tamanhoSlides{
  height: 30em;
  margin-bottom: 150px;
}

.carousel-item{
  height: 85vh;
}

@media(max-width: 1200px){
  .tamanhoSlides{
    height: 20em;
    margin-bottom: 250px;
  }
}
@media(max-width: 1000px){
  .tamanhoSlides{
    height: 25em;
    margin-bottom: 200px;
  }
}
@media(max-width: 900px){
  .tamanhoSlides{
    height: 20em;
    margin-bottom: 250px;
  }
}
@media(max-width: 850px){
  .tamanhoSlides{
    height: 15em;
    margin-bottom: 200px;
  }
}
@media(max-width: 600px){
  .tamanhoSlides{
    height: 10em;
    margin-bottom: 200px;
  }
}
@media(max-width: 500px){
  .tamanhoSlides{
    height: 10em;
    margin-bottom: 100px;
  }
}


// @media(max-width: 1100px){
//   .tamanhoSlides{
//     // height: 20em;
//     margin-bottom: 350px;
//   }
// }