.header{
  background-color: $cor1;
  padding: 20px;
}
.container-fluid{
  margin-bottom: 0;
  padding-bottom: 0;
}

.fig_1{
  margin-left: 100px;
}
.fig_2{
  margin-left: 60px;
}

.aparecer{
  display: none;
}
.header_menu{
  
}
.header_menu_link a{
  color: #fff;
}
.header_menu_link a:hover:not(.link-ofertas){
  color: $cor2;
}
nav .offcanvas{
  background-color: $cor1;
}

@media(max-width: 1050px)
{
  .fig_1{
    margin-left: 0;
  }
}
@media(max-width: 700px){
  .fig_1{
    width: 250px;
    margin-left: 0;
  }
}
@media(max-width: 500px){
  .fig_1{
    width: 200px;
    margin-left: 0;
  }
}

.link-ofertas  {
  background: linear-gradient(120deg, $cor3, $cor2);
  border-radius: 5px;
 
}
