* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Sora'; }

/* 
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] normal styles
1800px +: big desktop
*/
.header {
  max-width: 100%;
  background-color: #002a3a;
  padding: 15px; }
  .header_menu {
    max-width: 68.75em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 1100px) {
      .header_menu {
        grid-template-columns: 80px auto;
        align-items: center;
        justify-items: center; }
        .header_menu .header_img_logo1 {
          max-width: 50px;
          justify-self: right; }
        .header_menu .header_menu_link {
          font-size: 14px;
          gap: 10px; } }
    .header_menu_logo {
      margin-top: 0.625em; }

.header_menu_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.9375em;
  list-style: none; }
  .header_menu_link a {
    display: inline-block;
    font-family: 'Sora';
    color: #fff;
    text-decoration: none;
    padding: 0.625em 1.25em; }
    .header_menu_link a:hover:not(.link-ofertas) {
      color: #ffa400; }
  .header_menu_link .link-ofertas {
    background: linear-gradient(120deg, #ee2737, #ffa400);
    border-radius: 5px; }

.galery {
  margin: 1.25em auto;
  max-width: 100%;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .galery {
      max-width: 100%;
      height: 80vh; }
      .galery_fotos {
        width: 800%; } }
  .galery_fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite; }
    .galery_fotos img {
      width: 20%;
      height: calc(90vh - 80px); }

@keyframes animacao {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -201%; }
  70% {
    margin-left: -201%; }
  90% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.video {
  padding: 4.0625em; }
  .video_container {
    width: 68.75em;
    flex-wrap: wrap;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 1100px) {
      .video_container {
        width: 800px; } }
    @media (max-width: 900px) {
      .video_container {
        margin: auto;
        gap: 0; }
        .video_container .video_horario {
          justify-content: start;
          gap: 50px; }
        .video_container .video_horario h2 {
          font-size: 25px; } }
    @media (max-width: 700px) {
      .video_container {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
        gap: 40px;
        justify-content: center; }
        .video_container .video_horario {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 30px; }
          .video_container .video_horario div {
            align-self: center; }
          .video_container .video_horario .video-culto {
            max-width: 200px; }
          .video_container .video_horario h2 {
            grid-column: 1/-1; }
        .video_container .video-culto {
          justify-self: center; } }
  .video_horario {
    display: flex;
    flex-direction: column;
    place-items: start;
    justify-self: center;
    justify-content: space-between;
    width: 22.5em;
    padding: 0px 1.25em 0 .625em; }
    .video_horario h2 {
      font-family: "Sora";
      font-size: 1.875em;
      font-weight: 700;
      background-image: linear-gradient(to right, #26D07C, #0077C8);
      background-clip: text;
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    .video_horario div {
      font-family: "Roboto";
      color: #002a3a; }
    .video_horario .btn-youtube {
      display: flex;
      gap: 0.9375em;
      justify-self: flex-start;
      padding: 0.625em 1.25em;
      border-radius: 0.3125em;
      text-decoration: none;
      font-family: "Roboto";
      font-weight: 500;
      color: #fff;
      background: linear-gradient(to right, #0077C8, #26D07C); }

.app-container,
.agenda-container,
.dizimos-container {
  width: 68.75em;
  flex-wrap: wrap;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.app-informacoes {
  display: flex;
  flex-direction: column;
  place-items: start;
  justify-self: center;
  justify-content: space-between;
  width: 22.5em;
  padding: 0px 1.25em 0 .625em; }

.btn-youtube img {
  width: 1.5625em;
  color: #fff; }

.video-celebracao {
  box-shadow: 0px 0px 0px 10px #fff;
  border-radius: 0.9375em; }

.app {
  background-color: #F0EEEE;
  padding: 4.0625em; }
  .app_container {
    width: 68.75em;
    flex-wrap: wrap;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 1100px) {
      .app_container {
        max-width: 800px; } }
    @media (max-width: 900px) {
      .app_container {
        max-width: 100%; }
        .app_container .app_container_info h2 {
          font-size: 25px; } }
    @media (max-width: 850px) {
      .app_container {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 100%;
        gap: 40px;
        justify-content: center; }
        .app_container .app_container_info {
          gap: 20px; }
        .app_container .app-video {
          justify-self: center; } }
    .app_container .video-app {
      box-shadow: 0px 0px 0px 10px #F0EEEE;
      border-radius: 15px; }
    .app_container_info {
      display: flex;
      flex-direction: column;
      place-items: start;
      justify-self: center;
      justify-content: space-between;
      width: 22.5em;
      padding: 0px 1.25em 0 .625em; }
      .app_container_info h2 {
        font-family: "Sora";
        font-size: 1.875em;
        font-weight: 700;
        background-image: linear-gradient(to right, #87189D, #171C8F);
        background-clip: text;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; }
      .app_container_info p {
        font-family: "Roboto";
        color: #666;
        font-size: 0.9375em; }
      .app_container_info .btn-app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.625em; }
        .app_container_info .btn-app .btn-app-store,
        .app_container_info .btn-app .btn-google-store {
          text-decoration: none;
          color: #000;
          font-family: "Roboto";
          font-weight: 500;
          background: linear-gradient(#F0EEEE, #F0EEEE) padding-box, linear-gradient(45deg, #87189D, #171C8F) border-box;
          border: 2.5px solid transparent;
          border-radius: 10px;
          padding: 3px 8px;
          display: flex;
          align-items: center;
          gap: 5px; }
          .app_container_info .btn-app .btn-app-store .logo-apple,
          .app_container_info .btn-app .btn-google-store .logo-apple {
            font-size: 2.1875em;
            color: #000; }

.agenda {
  padding: 4.0625em 4.0625em 0 4.0625em; }
  .agenda_container {
    width: 55em;
    display: grid;
    grid-template-columns: 18.75em 1fr;
    margin: auto;
    gap: 3.75em; }
    @media (max-width: 1100px) {
      .agenda_container {
        max-width: 100%; } }
    @media (max-width: 800px) {
      .agenda_container {
        grid-template-columns: 1fr;
        gap: 0; }
        .agenda_container .agenda_container_imagens {
          display: none; } }
    .agenda_container_imagens {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-start;
      margin-bottom: 60px; }
      .agenda_container_imagens img {
        width: 180px;
        filter: brightness(0);
        opacity: 15%; }
    .agenda_container h2 {
      font-family: "Sora";
      font-size: 1.875em;
      font-weight: 700;
      background-image: linear-gradient(to right, #0077C8, #26D07C);
      background-clip: text;
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    .agenda_container p {
      font-family: "Roboto";
      color: #666;
      font-size: 0.9375em;
      margin-top: 1.25em;
      margin-bottom: 3em; }
  .agenda .agenda-bloco {
    font-family: "Roboto";
    color: #666;
    padding: 0.93754em 0;
    margin-bottom: 1.875em;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #0077C8, #26D07C) border-box;
    border-bottom: 3.5px solid transparent; }
    .agenda .agenda-bloco .agenda-flex {
      margin-top: 1.25em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 0.9375em;
      align-items: center; }
    .agenda .agenda-bloco .domingo {
      padding-bottom: 0.625em;
      border-bottom: 2px solid #F0EEEE; }

/* TAMANHOS VARIADOS DAS SUBMARCAS */
.agenda-bloco a .icone-instagram {
  width: .9375em; }

.agenda-flex a {
  text-decoration: none;
  color: #002a3a; }

.areas {
  padding: 60px; }
  .areas .areas_container {
    flex-wrap: wrap;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px; }
    @media (max-width: 1100px) {
      .areas .areas_container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%; } }
    .areas .areas_container img {
      width: 130px;
      padding: 10px; }
      .areas .areas_container img:hover {
        transition: all .6s;
        transform: scale(1.5); }
  .areas h2 {
    margin-bottom: 30px;
    margin-left: 200px;
    font-family: "Sora";
    font-size: 1.875em;
    font-weight: 700;
    background-image: linear-gradient(to right, #87189D, #171C8F);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  @media (max-width: 850px) {
    .areas h2 {
      font-size: 25px;
      margin-left: 80px; } }

.dizimos {
  padding: 60px;
  background-color: #F0EEEE;
  padding-bottom: 100px; }
  .dizimos h2 {
    grid-column: 1/4;
    margin-bottom: 30px;
    margin-left: 200px;
    font-family: "Sora";
    font-size: 1.875em;
    font-weight: 700;
    background-image: linear-gradient(to right, #EF4B81, #ffa400);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .dizimos_container {
    width: 55em;
    font-family: "Roboto";
    color: #002a3a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    margin: auto; }
    @media (max-width: 1200px) {
      .dizimos_container {
        margin: auto;
        width: 800px; } }
    .dizimos_container div {
      border-right: 1px solid #ee2737; }
  .dizimos .dizimos_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; }
  @media (max-width: 850px) {
    .dizimos {
      padding-bottom: 60px; }
      .dizimos .dizimos {
        max-width: 100%; }
      .dizimos .dizimos_container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 50px;
        max-width: 100%; }
        .dizimos .dizimos_container div {
          border-right: none; } }

.footer {
  padding: 80px;
  background-image: linear-gradient(to right, #ee2737, #ffa400); }
  .footer_container {
    font-size: 20px;
    font-family: "Roboto";
    color: #fff;
    width: 55em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    align-items: center; }
    @media (max-width: 1200px) {
      .footer_container {
        margin: auto;
        max-width: 100%; } }
    .footer_container img {
      width: 200px; }
    @media (max-width: 850px) {
      .footer_container {
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
        font-size: 16px;
        text-align: center; }
        .footer_container .footer_icones {
          justify-self: center; } }
  .footer_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; }
  .footer_icones {
    justify-self: end;
    font-size: 50px; }

.marca {
  text-align: center;
  font-family: "Roboto";
  padding: 16px;
  background-color: #002a3a;
  color: #F0EEEE;
  font-size: 10px; }
